* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.tokyoPhotograph {
  display: block;
  height: auto;
  max-width: 100%;
}

.tokyoImageContainer {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: black;
}

.tokyoImageContainer:hover .overlay {
  opacity: 33%;
}

.tokyoTitleText {
  color: white;
  font-size: xx-large;
  text-align: center;
}

.kyotoPhotograph {
  height: auto;
  max-width: 100%;
}

.kyotoPhotograph:hover {
  opacity: 80%;
}

.mtFujiPhotograph {
  height: auto;
  max-width: 100%;
}

.mtFujiPhotograph:hover {
  opacity: 80%;
}

.fbIcon {
  height: 2rem;
}

.xIcon {
  height: 2rem;
}

.instagramIcon {
  height: 2rem;
}
