* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  .tokyoPhotograph {
    height: auto;
    max-width: 100%;
  }
  
  .tokyoPhotograph:hover {
    opacity: 80%;
  }

  .kyotoPhotograph {
    height: auto;
    max-width: 100%;
  }

  .kyotoPhotograph:hover{
    opacity: 80%;
  }

  .mtFujiPhotograph {
    height: auto;
    max-width: 100%;
  }

  .mtFujiPhotograph:hover{
    opacity: 80%;
  }

 .fbIcon {
  height: 2rem;
 }

 .xIcon {
  height: 2rem;
 }

 .instagramIcon {
height: 2rem;
 }